/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-to-eatin-bloque-toeatin {
	background-color: white;
	color: black;
	padding: 2px;
	width: 100%;
}

.my-gallery-block img {
	max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
	height: auto; /* Mantiene la proporción de la imagen */
  }

  .my-gallery-modal img {
	max-width: 100%; /* Asegura que las imágenes en el modal no sean demasiado grandes */
	height: auto;
  }

.my-gallery-block:hover{
	cursor: pointer;
}

.my-gallery-block {
    display: flex;
    flex-wrap: wrap;
}

.small-images-container{
	display: flex;
	flex-direction: row;
}

.image-large {
    flex: 2;
    height: auto;
}

.image-small {
    flex: 1;
    height: auto;
}

.my-gallery-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-gallery-modal img {
    width: 33.33%;
}

.container-text{
	margin-top: 3rem;
}

